*{
    margin:0;
    font-family: Arial, sans-arif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
img{
    height:10rem;
}
#butt{
    background-color: grey;
    color:black;
    font-family: arial;
    font-weight: bold;
}
#butt:hover{
    background-color: wheat;
    cursor: pointer;
}
.page-header{
    height:100px;
    padding: 0;
    margin: 0;
    width:100%;
    background-color:rgb(44, 44, 139);
    display:flex;
    color:white;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;}
.border{
    border:2px solid transparent;    
}
.border:hover{
    border:1.5px solid black;
}
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: pink;
    width:620px;
    height:40px;
    border-radius: 4px;
}
.nav-search:hover{
    border:3px solid yellow;
}
.search-select{
    background-color: #f3f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
/*for input option*/
.input{
    width:100%;
    font-size:1rem;
    border:none;
}
.s-icon{
    width:45px;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size:1.2rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;}
.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%vw;
    height:100px;
    background-color: #0f1111;
    color: white;
    bottom:0;
    left:0;
    right:0;
    text-align:center;}
.logo{
        height:100px;}
.s-icon:hover{
    cursor: pointer;
}
.sign-in:hover{
    cursor: pointer;
}
