*{
    margin:0;
    padding:0;
    border:border-box;
    font-family: Arial, sans-serif;
}
.page-header{
    height:100px;
    background-color:rgb(44, 44, 139);
    display:flex;
    color:white;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}
img{
    height:100px;
    background-color:rgb(44, 44, 139);
}
.border{
    border:2px solid transparent;
    cursor: pointer;
}
.border:hover{
    border:1.5px solid black;
    cursor: pointer;

}
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: grey;
    width:620px;
    height:40px;
    border-radius: 4px;
}
.nav-search:hover{
    border:3px solid yellow;
}
.search-select{
    background-color: #f3f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
/*for input option*/
.input{
    width:100%;
    font-size:1rem;
    border:none;
}
.s-icon{
    width:45px;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size:1.2rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;

}
/* nav and pannel */
.nav{
    position:static;
    height:40px;
    top:5px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    color:white;
    align-items:center;
    border:none;
    width:100em;
}
.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%vw;
    height:100px;
    background-color: #0f1111;
    color: white;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
}
.login{
    font-size: 0.7rem;
}
span{
    font-size: 0.8rem;
    font-weight: bold;
}
.panel{
    height:30px;
    color:white;
}
/* movie section */
.movie-section{
    display:flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-shrink: 2;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    height:700px;
}
.box{
    height:650px;
    border:2px solid black;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    position: relative;

}
.img-box{
    height: 300px;
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
    color:#007185;
}
.side-bar{
    display:flex;
    height:330px;
    border:1px solid black;
    width:100%;
    flex-direction: row;
    margin-top: 10px;
    background-color: #e2e7e6;
}
.img-1{
    margin-left:1rem;
    margin-right:1rem;
    color:#007185;
    height:350px;
    width:200px;
}
.img-2{
    margin-left:1rem;
    margin-right:1rem;
    color:#007185;
    height:300px;
    width:200px;

}
.img-3{
    margin-left:1rem;
    margin-right:1rem;
    color:#007185;
    height:300px;
    width:200px;
}
.img-4{
    margin-left:1rem;
    margin-right:1rem;
    color:#007185;
    height:300px;
    width:200px;
}
@media (max-width:600px){
    .a{
        font-size: 10px;
    }
}
@media (min-width:400px)and (max-width:600px){
    .img-1{
        background-color:aliceblue;
    }
}
h2:hover{
    color:indianred;
}
p{
    font-weight: bold;
    font-family: Arial sans-serif;
}
.carousel-inner{
    height:300px;
    width:500px;
}
.a{
    text-decoration:none;
}
.a:hover{
    text-decoration: underline;
}
#trend-now{
    text-align: center;
}
#butt{
    cursor: pointer;
    position:absolute;
    bottom:10px;
    left:10px;
    background-color:rgb(71, 71, 251);
    color:white;
}