
.section2 {
  text-align:center;
  padding: 60px 20px;
  background: #111;
  color: #fff;
}

.section2 h1 {
  font-size: 2.5rem;
  color: #ffb400;
  margin-bottom: 15px;
}

.section2 p {
  font-size: 1.1rem;
  color: #ccc;
  max-width: 700px;
  margin: 0 auto 40px;
}


.slider-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto 80px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 180, 0, 0.4);
}

.slider {
  position: relative;
  width: 100%;
  height: 450px;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 1s ease, transform 1s ease;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #ffb400;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s;
}

.prev:hover, .next:hover {
  background: #ffb400;
  color: #000;
}

.prev { left: 15px; }
.next { right: 15px; }


.transformation-section {
  background: #000;
  padding: 50px 20px;
  border-radius: 15px;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(255, 180, 0, 0.2);
}

.transformation-section h2 {
  color: #ffb400;
  font-size: 2rem;
  margin-bottom: 30px;
}

.transformation-boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.transformation-boxes .box {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  width: 350px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.transformation-boxes .box img {
  padding: 10px;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

  

.transformation-boxes .box h3 {
  background: #ffb400;
  color: #000;
  padding: 10px 0;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.transformation-boxes .box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 180, 0, 0.6);
}