*{ margin: 0;
padding: 0;
box-sizing: border-box;}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;
  scroll-behavior:smooth;
}
.navbar{
    display:flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;


}
.nav-links{
  
  display: flex;
list-style: none;
display: flex;
align-items: center;
justify-content: space-between;
}
.nav-links li a{
  
  
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}
.nav-links a:hover{
  color: #ffcc00;
}
.section1{
  height: 100%vh ;
  
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url()no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 200px;
}
.section1 .h1{
  font-weight: 900;
color: #f5c518;
text-transform: uppercase;
letter-spacing: 2px;
text-shadow: 1px 1px 0 #000,
             2px 2px 0 #111,
             3px 3px 0 #222,
             4px 4px 0 #333,
             4px 4px 0 #444,
             5px 5px 0 #555,
             6px 5px 0 #666;
  font-size: 3rem;
  margin-bottom: 10px;
  animation: fade 2s ease-in-out infinite alternate;
}
.section1 p{

  
  font-size: 1.2em;
  margin-bottom: 25px;
  color: #ddd;

}
.section1 #btn{
  
  padding: 12px 25px;
  background-color: #ffcc00;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.section1 #btn:hover{
  background-color: #ffaa00;
}
.title{
  text-align: center;
  font-size: 2rem;
  margin-top: 80px;
  color: #ffcc00;

}
.feature-container{

  display: flex;
  justify-content: center;
  flex-wrap:wrap ;
  gap: 30px;
  padding: 50px 30px;
}
.same{

  font-size: 19px;
  font-family: sans-serif;
  background-color: #222;
  border-radius: 12px;
  width: 400px;
  
  padding: 100px;
  transition: all .3s ease;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.same:hover{
  transform: translateY(-10px);
  background-color: #333;
}
.same img{
  
  

  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.same h3{
  text-align: center;
  font-size: 1em;
  color: #ffcc00;
  
}
.same p{ 

  padding: 3px;
  font-size: 1em;
  color: #ddd;
  line-height: 1.3rem;

}


/*-------------------------------------------------------------------------------------*/
.pop{
  display: none;
  position: fixed;
  top: 0; left: 0;
  width:100%; height: 100%;
  background:rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.pop-contant{
  background: #222;
  padding:30px 40px;
  border-radius: 10px;
  color: #fff;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  position: relative;
  animation: slideup 0.5s ease;
}
.pop-contant h2{ 
  margin-bottom: 20px;
  color: #ffcc00;
  text-align: center;
}
.form-row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}
.form-row input{
    flex:1;
    min-width: 220px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 0.95;
  }
  .join-form{
    display: flex;
    flex-direction: column;
    gap: 15px;

  }
  .form button{ background: #ffcc00;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;


  }
  .form button:hover{
    background-color: #ffaa00;
  }

.pop-contant input{
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}
.pop-contant button{
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

}
.pop-contant button:hover{
  background-color: #ffaa00;
}
.close-btn{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}



footer{
  text-align: center;
  padding: 15px;
  background-color: #222;
  margin-top: 50px ;
  font-size: 0.9em;

}
@keyframes fade{
  from{ transform: translateY(0);}
  to {transform: translateY(-20px);}
}
/*Responsive*/
@media(max-width:768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links{
    flex-direction: column;
    width: 100%;
    gap: 10px;

  }
  .section1 h1{
    font-size: 2rem;
  }
  .feature-container{
    flex-direction: column;
    align-items: center;
  }
  .feature{
    width: 90%;
  }
}
/*-------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #000;
  color: #fff;
}
header{ 
  
  background-color: #111;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.navbar{
  
   display:flex;
  justify-content: center;
  align-items: center;
  
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-links{
  
  display: flex;
list-style: none;
display: flex;
align-items: center;
justify-content: space-between;
}
.nav-links li a{
  
  
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}
.nav-links li a:hover, .nav-links li a.abt{
  color: #ffcc00;

}
.about-content{
  flex: 1 1 50%;
}
.about-content h2{
  margin: 10px;
  color: #fff;
  margin-top: 20px;
}
.about-content p{
  color: #ccc;
  margin-top: 5px;
  line-height: 1.5;
}
.about-section{
  flex-wrap: wrap;
  height: 130vh;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  display: flex;
  align-items: center;
  padding: 60px 10%;
  justify-content: space-around;
  color: #fff;
}
.about-text h1{
  margin: 15px;
  font-size: 3em;
  color: #ffcc00;

}
.about-text span{
  color: #ffcc00;
}
.about-text p{
  
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 1.2em;
  
}
.train{
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:30px
 
}
.pic{
  
  background-color: #222;

  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(o,o,o,o.4);
  transition: transform 0.3s;
}
.pic:hover{
  transform: translateY(-8px);

}
.pic img{
  width: 100%;
  border-radius:10px;
  margin-bottom: px;
}
.pic h3{
  color: #ffcc00;
  margin-bottom: 5px;
}


footer {
  position: relative;
  text-align: center;
  padding: 30px 0;
  background: #1a1a1a;
  color: #888;
  margin-top: 50px;
}


/*===============*/
@media(max-width: 768){
  .nav-links{
    flex-wrap:wrap;
    gap:15px
  }
  .about-text h1{
    font-size: 2rem;
  }
  .pic{
    width: 90%;
  }
}


/*   service page */
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}


.navbar {
  
  background: #1a1a1a;
  padding: 15px 0;
  text-align: center;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navbar li {
  margin: 0 20px;
}
.navbar a {
  
  text-decoration: none;
  color: #ccc;
  font-size: 18px;
}

.navbar a:hover {
  color: orange;
}


.services {
  
  padding: 60px 10%;
  text-align: center;
}
.services h1 {
  padding-top: 10px;
  color: orange;
  font-size: 36px;
  margin-bottom: 10px;
}
.services .puchline {
  
  color: #bbb;
  margin-bottom: 40px;
}


.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  padding: 30px;
}
.tab-btn {
  background: #1c1c1c;
  border: 1px solid orange;
  color: orange;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}
.tab-btn:hover,
.tab-btn.active {
  background: orange;
  color: #111;
}


.workout {
  display: none;
  max-width: 800px;
  margin: 0 auto;
  background: #1a1a1a;
  padding: 25px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.2);
}
.workout.active {
  display: block;
}
.workout h2 {
  color: orange;
  margin-bottom: 15px;
}
.workout ul {
  padding-left: 20px;
}
.workout li {
  margin-bottom: 8px;
  color: #ddd;
  line-height: 1.5;
}


.exercise1 {
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 20px;
}
.exercise {
  text-align: center;
  width: 200px;
}
.exercise img {
  height: 200px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.3);
  transition: transform 0.3s;
}
.exercise img:hover {
  transform: scale(1.05);
}
.exercise p {
  text-align: center;
  margin-top: 8px;
  color: #ccc;
}
footer {
  text-align: center;
  padding: 15px;
  background: #1a1a1a;
  color: #888;
  margin-top: 50px;
}




/*===========================================================*/

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  background: #000;
}



.nav-links {
  
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ffb400;
}


.contact-section {
  text-align: center;
  padding: 50px 20px;
}

.contact-section h1 {
  color: #ffb400;
  font-size: 2.2rem;
}

.contact-section h1 span {
  color: #fff;
}

.contact-buttons {
  margin: 30px 0;
}

.contact-buttons button {
  background: #ffb400;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.contact-buttons button:hover {
  background: #ffc94d;
}

.content-box {
  display: none;
  max-width: 600px;
  margin: 0 auto;
  background: #222;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 180, 0, 0.3);
}

.content-box.active {
  display: block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

textarea {

  resize: none;
  height: 100px;
}

.submit-btn {
  background: #ffb400;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #ffc94d;
}